<h1>Add a Track!</h1>
<hr/>

<% if @track.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
          <div class="panel-heading">
            <h1 class="text-center login-title">Add a SONG!</h1>
          </div>
          <div class="panel-body">
            <form role="form" method="POST" action="/tracks">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="artist" id="artist" class="form-control input-sm" placeholder="Artist">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Title">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="length" id="length" class="form-control input-sm" placeholder="Length">
              </div>
              <div class="form-group">
                <input type="text" name="url" id="url" class="form-control input-sm" placeholder="URL">
              </div>
              <input type="submit" value="ADD" class="btn btn-info btn-block">
            </form>
          </div>
            <a href="" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </div>
      </div>
  </div>
</div>

<!-- <form method="POST" action="/tracks">
  <div>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= @track.artist %>">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @track.title %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @track.url %>">
  </div>
  <div>
    <label>Length:</label>
    <input type="text" name="length" value="<%= @track.length %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form> -->